/*============== mainVariables ==============*/
* { font-family: 'Open Sans', sans-serif; font-display: swap; text-decoration: none; list-style: none;}
@import "./_index.scss";
@import "./_destinos.scss";
@import "./_ofertas.scss";
@import "./_about.scss";
@import "./_contacto.scss";
@import "./_404.scss";

$firstColor: #fff;
$secondColor: #000;
$accentColor: rgb(255, 110, 110);
$navColor: rgb(236, 236, 236);
$thirdColor: rgb(230, 221, 215);
$transition: 1s;

:root{
    --smallFontSize: 16px;
    --mediumFontSize: 20px;
    --bigFontSize: 32px;
    --biggerFontSize: 48px;
    --biggestFontSize: 64px;
}

@mixin baseProperties($width, $height, $display, $position){
    width: $width;
    height: $height;
    display: $display;
    position: $position;
}

html{
    scroll-behavior: smooth;
    min-height: 100%;
    height: 100%;
}
body{
    background-color: $thirdColor;
    min-height: 100%;
    height: 100%;
    overflow-x: hidden;
}
.button{
    font-size: var(--mediumFontSize);
    font-weight: 400;
    position: relative;
    top: 20px;
    padding: 20px;
    border: 3px solid $firstColor;
    background-color: transparent;
    background-position: 100% 0;
    transition: background-color $transition/3;
    transition: padding $transition/3;
    border-radius: 15px;

    a{
        color: $firstColor;
        text-shadow:0px 3px 6px rgba(136, 136, 136, 0.87); 
        transition: color $transition/3;
        transition: text-shadow $transition/3;
    }
}
.button:hover{
    background-color: $firstColor;
    padding-right: 30px;
    padding-left: 10px;

    i{
        opacity: 1;
    }

    a{
        color: $secondColor;
        text-shadow: none;
    }
}
.bxs-chevron-right{
    color: $secondColor;
    font-size: var(--bigFontSize);
    position: absolute;
    top: 15px; 
    opacity: 0;
    transition: opacity $transition/3;
}
/*============== nav ==============*/

.navBar{
    @include baseProperties(100vw, unset, flex, fixed);
    align-items: initial;
    z-index: 100;
    top: 20px;
    padding: 0 10vw 0 15vw;

    a{
        font-weight: 600;
        transition: $transition/5;
    }
    
    a:hover{
        color:$accentColor;
    }
}
.gradientNav{
    @include baseProperties(100vw, 100px, unset, fixed);
    top: 0;
    left: 0;
    z-index: 15;
    background: linear-gradient(180deg, rgba(21,21,21,0.9) 0%, rgba(21,21,21,0.4) 60%, rgba(21,21,21,0) 100%);
    transition: height $transition/5;
}
.navMenu{
    @include baseProperties(70%, unset, flex, unset);
    justify-content: space-between;
    margin-left: 40%;

    a{
        color:$navColor;
        font-size: var(--mediumFontSize);
    }
    ul{
        @include baseProperties(100%, unset, flex, unset);
        justify-content: space-between;
    }
}
.navToggle i{
    color: $accentColor;
    cursor: pointer;
    font-size: var(--bigFontSize);
    visibility: hidden;
    z-index: 20;
}
.navGoUp i{
    color: $accentColor;
    text-shadow:0px 3px 6px rgba(53, 53, 53, 0.705);
    cursor: pointer;
    font-size: var(--biggerFontSize);
    position: absolute;
    top: 110vh;
    right: 5vw;
    opacity: 0;
    transition: opacity $transition/3, top $transition/5;
    animation-name: efectoFlecha;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
}
.goUpShow i{
    opacity: 1;
    top: 90vh;
}
.logo{
    color: $accentColor;
    font-size: var(--bigFontSize);
    z-index: 20;
}
.subMenu{
    @include baseProperties(unset, unset, flex, relative);
    flex-direction: column;
}
.subMenu1{
    padding: 30px 0 15px 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity $transition/5;
    position: absolute;
}
.subMenu2{
    padding: 15px 0 15px 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity $transition/2;
    position: absolute;
}
.subMenu3{
    padding: 15px 0 15px 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity ($transition/5)*4;
    position: absolute;
}
.hideMenu:hover + ul a li{
    opacity: 1;
    visibility: visible;
    position: relative;
}
.subMenu:hover > a li{
    opacity: 1;
    visibility: visible;
    position: relative;
}
.navMenu ul li .active{
    color: $accentColor
}

/*============== footer ==============*/

.foot{
    @include baseProperties(100%, fit-content, block, relative);
    top: 0;
    min-height: 40%;
    opacity: 1;
    background-color: $secondColor;

    .footUrls li{
        padding-bottom: 40px;
    }
    ul li{
        padding-bottom: 30px;
    }
    a{  
        font-size: var(--mediumFontSize);
        font-weight: 400;
        color: $firstColor;
    }
    a:hover{
        color: $accentColor;
        transition: $transition/3;
    }
}
.footNav{
    justify-content: space-between;
    margin: 0 20% 0 20%;
    padding: 5vh 0 5vh 0;
    display: flex;
}
.travelnowFooter a{
    color: $accentColor;
    font-style: normal;
    font-weight: 600;
    font-size: var(--bigFontSize);
}
.infoFooter{
    color: $firstColor;
    line-height: 35px;
}
.addressFooter{
    margin-bottom: 40px;
    color: $thirdColor
}
.socialMedias li a{
    font-size: var(--bigFontSize);
}
.footerRule{
    @include baseProperties(65%, 1px, block, absolute);
    background-color: $accentColor;
    bottom: 15%;
    right: 0;
}

/*============== intro ==============*/
.intro {
    background: $secondColor;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
}
.introSlider {
    background: $thirdColor;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    z-index: 200;
}
.introElements {
    color: $firstColor;
    font-family: 'Poppins', sans-serif;
    font-size: var(--biggerFontSize);
    margin: 0 5vw;
}
.introHide {
    background: $secondColor;
    overflow: hidden;
}
.introText {
    transform: translateY(100%);
    display: inline-block;
    line-height: 80px;
}
.outro{
    background: $secondColor;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(100%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
}

@media (max-width: 1400px){
    .navMenu{
        margin-left: 20%;
    }
    .cardContainer{
        flex-direction: column;
        align-items: center;
    }
    .card{
        height: 80vw;
        width: 70vw;
        overflow: hidden;
        border-radius: 32px;
        margin: 2vw;
    }
}
@media (max-width: 1024px){
    li > .subMenu{
        display: none;      
    }
    .navMenu{
        position: fixed;
        margin-left: 0%;
        top: 0;
        right: -100%;
        width: 100vw;
        height: 100%;
        transition: right ($transition/5)*2;
    }
    .navMenu ul{
        flex-direction: column;
        align-items: center;
        background: linear-gradient(130deg,
        rgba(134, 134, 134, 0.5),
        rgba(56, 56, 56, 0.4));
        backdrop-filter: blur(5px);    
        margin: 0 0 0 30vw;
        padding: 15vh 0 15vh 0;
    }
    .navMenu ul li{
        padding: 15px;
    }
    .navMenu a{
        font-size: var(--bigFontSize);
    }
    .showMenu{
        right: 0;
    }
    .navBar{
        padding-left: 0vw;
    }
    .logo{
        font-size: var(--bigFontSize);
        padding-left: 5vw;
    }
    .navToggle i{
        visibility: visible;
        right: 5vw;
        position: absolute;
    }
    .footNav{
        margin: 0 10% 0 10%;
    }
    .sectionThree{
        flex-direction: column-reverse;

        .sectionThreeData{
            width: 100%;
            min-height: 50vh;
            height: fit-content;
            h3{
                margin-top: 10%;
            }
            button{
                margin-bottom: 10%;
            }
        }
        .sectionThreeImg{
            width: 100%;
            height: 50vh;
        }
    }
    .subDestinos__seccion__capsula{
        flex-direction: column;
        height: fit-content;
    }
    .subDestinos__seccion__capsula__data{
        width: 100%;
        margin-bottom: 10%;
        max-width: 90vw;
    }
    .subDestinos__seccion__capsula__imgContainer{
        width: 90vw;
        max-width: unset;
        height: 45vh;
        margin-bottom: 10%;
    }
    .reverse{
        flex-direction: column-reverse;
    }
    .aboutPeople{
        flex-direction: column;
        align-items: center;
    }
    .people{
        height: 70vw;
        width: 70vw;
        margin: 10vh 0;
    }
    .contactoBottom{
        flex-direction: column;
        align-items: center;
    }
    .contactoLeft{
        flex-direction: row;
        padding-left: 5%;
        width: 100%;
        min-height: 400;
        align-items: center;
        justify-content: space-around;
        margin: 5vw;
        text-align: center;
    }
    .contactoRight{
        width: 80%;
    }
    .topDescription{
        flex: 0 0 90%;
    }
    .contactoLeft div i{
        font-size: var(--bigFontSize);
        transform: translate(-250%, 130%);
        padding: 4%;
    }
    .contactoLeft .address i{
        transform: translate(-250%, 200%);
    }
}
@media (max-width: 768px){
    :root{
        --smallFontSize: 14px;
        --mediumFontSize: 18px;
        --bigFontSize: 30px;
        --biggerFontSize: 40px;
        --biggestFontSize: 50px;
    }
    .textSectionTwo p{
        line-height: 65px;
    }
    .footNav{
        margin: 0 5% 0 5%;
    }
}
@media (max-width: 600px){
    .rightFloat{
        width: 100%;
        height: 50%;
        left: 0;
        position: relative;
    }
    .textSectionTwo{
        right: -5%;
        bottom: 40%;
        max-width: 100%;
    }
    .textSectionTwo p{
        font-size: var(--biggerFontSize);
    }
    .leftFloat{
        z-index: 20;
        height: 50%;
        width: 100%;
    }
    .leftFloat img{
        object-fit: cover;
    }
    .footNav{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 4fr 2fr;
    }
    .travelnowFooter{
        grid-column-start: 0;
        justify-self: center;
    }
    .infoFooter{
        grid-row-start: 2;
        align-self: center;
        justify-self: center;
    }
    .footUrls{
        grid-row-start: 2;
        align-self: center;
        justify-self: center;
    }
    .socialMedias{
        grid-column-end: span 2;
        display: flex;
        justify-content: space-around;
        align-self: flex-end;
    }
    .footerRule{
        bottom: 5%;
    }
    .destinosData{
        min-width: 400px;
    }
    .subDestinos{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }
    .photos{
        grid-column-end: 1;
    }
    .columOne{
        grid-row-start: 3;
    }
    .columOne img{
        height: 60vw;
        width: 60vw;
    }
    .columTwo img{
        height: 60vw;
        width: 60vw;
    }
    .columTwo{
        grid-row-start: 4;
    }
    .cardOverlay{
        top: -15%;
        height: 15%;
    }
    .cardDescription{
        line-height: 30px;
    }
    .cardPrice{
        margin-top: 5vw;
        font-size: var(--biggerFontSize);
    }
    .aboutDescription{
        margin: 0 5% 10vh 5%;
    }
    .destinosRule{
        grid-column-end: 1;
        grid-row-start: 2;
    }
}
@media (max-width: 480px){
    .textSectionTwo p{
        font-size: var(--bigFontSize);
    }
    .footNav{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 4fr 5fr 1fr;
    }
    .travelnowFooter{
        grid-column-start: 0;
        justify-self: center;
    }
    .infoFooter{
        grid-row-start: 2;
        align-self: center;
        justify-self: center;
    }
    .footUrls{
        grid-row-start: 3;
        align-self: center;
        justify-self: center;
        text-align: center;
    }
    .socialMedias{
        grid-row-start: 4;
        display: flex;
        justify-content: space-around;
        align-self: flex-end;
    }
    .addressFooter{
        margin-bottom: 20px;
        text-align: center;
    }
    .contactFooter{
        text-align: center;
    }
    .sectionThree{
        .sectionThreeData{
            h3{
                line-height: 50px;
            }
        }
    }
    .destinosData{
        max-width: unset;
        min-width: unset;
        padding: 40px;
    }
    .cardPrice{
        display: none;
    }
    .card{
        height: 90vw;
    }
    .people{
        margin: 12vh 0;
    }
    .contactoLeft{
        flex-direction: column;
    }
    .phone{
        height: 15vh;
    }
    .address{
        height: 15vh;
    }
    .contactoRight{
        min-width: 80vw;
        padding-bottom: 10vw;
    }
    .contactoRight textarea{
        height: 20vh;
    }
}
@media (max-width: 370px) {
    .cardPrice{
        display: inline-block;
        font-size: var(--mediumFontSize);
        margin-top: 30%;
    }
    .cardDescription{
        display: none;
    }
}
@media (max-width: 320px){
    :root{
        --smallFontSize: 14px;
        --mediumFontSize: 18px;
        --bigFontSize: 24px;
        --biggerFontSize: 30px;
        --biggestFontSize: 40px;
    }
    .textSectionTwo p{
        line-height: 50px;
    }
}